/* Toast Animations */

@keyframes slideInUp {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

/* Loader Animations */

@keyframes pulse_1 {
	0% {
		transform: translate3d(0, 0, 0) scale(0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 0, 0) scale(1.5);
		opacity: 0;
	}
}

@keyframes pulse_2 {
	0% {
		transform: translate3d(0, 0, 0) scale(0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 0;
	}
}

/* Card background animations */

@keyframes gradientAnimation {
	0% {
		background-position: 0% 92%
	}

	50% {
		background-position: 100% 9%
	}

	100% {
		background-position: 0% 92%
	}
}

/* Chart dash animation */

@keyframes dash {
	0% {
		stroke-dashoffset: 1060;
	}

	50% {
		stroke-dashoffset: 60;
	}

	100% {
		stroke-dashoffset: 60;
	}
}

@keyframes dash_opacity {
	0% {
		stroke-opacity: 1;
	}

	25% {
		stroke-opacity: 0;
	}

	50% {
		stroke-opacity: 1;
	}

	100% {
		stroke-opacity: 1;
	}
}
